button[data-theme="trakteer"] {
  font-family: "Fredoka", sans-serif;
  padding: 8px 16px !important;
  height: 42px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

button[data-theme="trakteer"] > :not(svg) {
  display: flex;
  align-items: center;
  gap: 4px;
}

button[data-theme="trakteer"] svg {
  width: 16px;
  height: 16px;
}

button[data-theme="trakteer"][data-variant="default"] {
  color: var(--trakteer-default-color);
  background: var(--trakteer-default);
  border: 1px solid var(--trakteer-default-border);
  border-bottom: 4px solid var(--trakteer-default-border);
}

button[data-theme="trakteer"][data-variant="default"][data-style="default"] {
  border: none;
}

button[data-theme="trakteer"][data-variant="default"][data-style="icon"] {
  border: none;
  border-radius: 100%;
  width: 42px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

button[data-theme="trakteer"][data-variant="outline"] {
  color: var(--trakteer-outline-color);
  background: var(--trakteer-outline);
  border: 1px solid var(--trakteer-outline-border);
  border-bottom: 4px solid var(--trakteer-outline-border);
}

button[data-variant="outline"][data-style="default"] {
  border: none;
}

button[data-variant="outline"][data-style="icon"] {
  border: none;
  border-radius: 100%;
  width: 42px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

button[data-variant="destructive"] {
  color: var(--trakteer-destructive-color);
  background: var(--trakteer-destructive);
  border: 1px solid var(--trakteer-destructive-border);
  border-bottom: 4px solid var(--trakteer-destructive-border);
}

button[data-variant="destructive"][data-style="default"] {
  border: none;
}

button[data-variant="destructive"][data-style="icon"] {
  border: none;
  border-radius: 100%;
  width: 42px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

button[data-variant="dark"] {
  color: var(--trakteer-dark-color);
  background: var(--trakteer-dark);
  border: 1px solid var(--trakteer-dark-border);
  border-bottom: 4px solid var(--trakteer-dark-border);
}

button[data-variant="dark"][data-style="icon"] {
  border: none;
  border-radius: 100%;
  width: 42px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
